/* marquee.css - <marquee> */

marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

marquee * { /* must contain element */
  display: inline-block;
}

marquee[direction="left"] * {
  padding-left: 100%;
  animation: marquee-h 21.2s linear infinite;
  animation-direction: normal;
}

marquee[direction="right"] * {
  padding-left: 100%;
  animation: marquee-h 21.2s linear infinite;
  animation-direction: reverse;
}

marquee[direction="up"] * {
  animation: marquee-v 2s linear infinite;
  animation-direction: normal;
}

marquee[direction="down"] * {
  animation: marquee-v 2s linear infinite;
  animation-direction: reverse;
}

@keyframes marquee-h {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

@keyframes marquee-v {
  0%   { transform: translate(0, 100%); }
  100% { transform: translate(0, -100%); }
}
