/* simple.css - easy-to-code elements */

acronym { } /* no styles */

big {
  font-size: larger;
}

center {
  text-align: center;
}

hgroup {
  display: block;
}

nobr {
  white-space: nowrap;
}

strike {
  text-decoration: line-through;
}
